.scroll-spy {
  height: 400px;
  margin: 20px;
  background: tomato;
}

.sticky {
  position: sticky;
  top: 0;
}

.scroll-nav {
  display: flex;
  height: 3rem;
  justify-content: center;
}

.scroll-nav a {
  background-color: lightgrey;
  height: 100%;
  line-height: 3rem;
  padding: 0 10px;
  text-decoration: none;
}